.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 48px;
  background-color: #fff7e9;
  width: 100%;
}

.container__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 26px;
  font-weight: 700;
  color: #ff731d;
}

.logo__img {
  width: 48px;
  height: 48px;
}

.container__navbar {
  display: flex;
  align-items: center;
  gap: 32px;
  font-weight: 700;
}

.font__text {
  color: #ff731d;
  font-size: 16px;
}
